.gallery-carousel {
    padding-top: 0.5rem;
  }
  
  .gallery-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    image-rendering: auto;

  }
  
  .gallery-img:hover {
    transform: scale(1.02);
  }

  
  