.service-list li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
    
  }
  
  .service-list li:last-child {
    border-bottom: none;
  }
  
  .service-list h5 {
    font-size: 1.3rem;
  }
  
  .service-list p {
    font-size: 1.0rem;
  }
  