body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}
h1, h2 {
  font-weight: 600;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

html {
  scroll-padding-top: 80px; /* adjust based on your navbar height */
}

.yarl__container {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust for more/less darkness */
}

